<!DOCTYPE html>
<html lang="en">

<head>
    <title> </title>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Form</h1>
                <hr>


                <div class="col-xs-6" padding= 10px> <!-- dropdown div -->
                    <form action='/compare' method='POST'>
                    </br>
                    <div class="col-xs-6">
                        Player Name: <input type="text" id="myText" name="Player_Name1" maxlength="30" padding=15px>
                        </br>
                        Team: <select  id="myText" name="Team1" padding=5px>
                        
                            <option value="ANA">Anaheim Ducks</option>
                            <option value="PHX">Arizona Coyotes</option>
                            <option value="BOS">Boston Bruins</option>
                            <option value="BUF">Buffalo Sabres</option>
                            <option value="CGY">Calgary Flames</option>
                            <option value="CAR">Carolina Hurricanes</option>
                            <option value="CHI">Chicago Blackhawks</option>
                            <option value="COL">Colorado Avalanche</option>
                            <option value="CBJ">Columbus Blue Jackets</option>
                            <option value="DAL">Dallas Stars</option>
                            <option value="DET">Detroit Red Wings</option>
                            <option value="EDM">Edmonton Oilers</option>
                            <option value="FLA">Florida Panthers</option>
                            <option value="LAK">Los Angeles Kings</option>
                            <option value="MIN">Minnesota Wild</option>
                            <option value="MTL">Montreal Canadiens</option>
                            <option value="NSH">Nashville Predators</option>
                            <option value="NJD">New Jersey Devils</option>
                            <option value="NYI">New York Islanders</option>
                            <option value="NYR">New York Rangers</option>
                            <option value="OTT">Ottawa Senators</option>
                            <option value="PHI">Philadelphia Flyers</option>
                            <option value="PIT">Pittsburgh Penguins</option>
                            <option value="SJS">San Jose Sharks</option>
                            <option value="STL">St. Louis Blues</option>
                            <option value="TBL">Tampa Bay Lightning</option>
                            <option value="TOR">Toronto Maple Leafs</option>
                            <option value="VAN">Vancouver Canucks</option>
                            <option value="VEG">Vegas Golden Knights</option>
                            <option value="WSH">Washington Capitals</option>
                            <option value="WPG">Winnipeg Jets</option>
                        </select>
                        </br>
                        Season: <select id="Season1" name="Season1">
                            <option value="2021">2020-21</option>
                            <option value="2020">2019-20</option>
                            <option value="2019">2018-19</option>
                            <option value="2018">2017-18</option>
                            <option value="2017">2016-17</option>
                            <option value="2016">2015-16</option>
                            <option value="2015">2014-15</option>
                            <option value="2014">2013-14</option>
                            <option value="2013">2012-13</option>
                            <option value="2012">2011-12</option>
                            <option value="2011">2010-11</option>
                            <option value="2010">2009-10</option>
                            <option value="2009">2008-09</option>
                            <option value="2008">2007-08</option>
                            <option value="2007">2006-07</option>
                            <option value="2006">2005-06</option>
                            <option value="2005">2004-05</option>
                            <option value="2004">2003-04</option>
                            <option value="2003">2002-03</option>
                            <option value="2002">2001-02</option>
                            <option value="2001">2000-01</option>
                            <option value="2000">1999-00</option>
    
                        </select>
                    </div>
                <br>
                <br>
                    <div class="col-xs-6"> 
                        Player Name: <input type="text" id="myText" name="Player_Name2" maxlength="30" padding=15px>
                        </br>Team: <select  id="myText" name="Team2" padding=5px>
                        
                            <option value="ANA">Anaheim Ducks</option>
                            <option value="PHX">Arizona Coyotes</option>
                            <option value="BOS">Boston Bruins</option>
                            <option value="BUF">Buffalo Sabres</option>
                            <option value="CGY">Calgary Flames</option>
                            <option value="CAR">Carolina Hurricanes</option>
                            <option value="CHI">Chicago Blackhawks</option>
                            <option value="COL">Colorado Avalanche</option>
                            <option value="CBJ">Columbus Blue Jackets</option>
                            <option value="DAL">Dallas Stars</option>
                            <option value="DET">Detroit Red Wings</option>
                            <option value="EDM">Edmonton Oilers</option>
                            <option value="FLA">Florida Panthers</option>
                            <option value="LAK">Los Angeles Kings</option>
                            <option value="MIN">Minnesota Wild</option>
                            <option value="MTL">Montreal Canadiens</option>
                            <option value="NSH">Nashville Predators</option>
                            <option value="NJD">New Jersey Devils</option>
                            <option value="NYI">New York Islanders</option>
                            <option value="NYR">New York Rangers</option>
                            <option value="OTT">Ottawa Senators</option>
                            <option value="PHI">Philadelphia Flyers</option>
                            <option value="PIT">Pittsburgh Penguins</option>
                            <option value="SJS">San Jose Sharks</option>
                            <option value="STL">St. Louis Blues</option>
                            <option value="TBL">Tampa Bay Lightning</option>
                            <option value="TOR">Toronto Maple Leafs</option>
                            <option value="VAN">Vancouver Canucks</option>
                            <option value="VEG">Vegas Golden Knights</option>
                            <option value="WSH">Washington Capitals</option>
                            <option value="WPG">Winnipeg Jets</option>
                        </select>
                        <br>
                        Season: <select id="Season2" name="Season2">
                            <option value="2021">2020-21</option>
                            <option value="2020">2019-20</option>
                            <option value="2019">2018-19</option>
                            <option value="2018">2017-18</option>
                            <option value="2017">2016-17</option>
                            <option value="2016">2015-16</option>
                            <option value="2015">2014-15</option>
                            <option value="2014">2013-14</option>
                            <option value="2013">2012-13</option>
                            <option value="2012">2011-12</option>
                            <option value="2011">2010-11</option>
                            <option value="2010">2009-10</option>
                            <option value="2009">2008-09</option>
                            <option value="2008">2007-08</option>
                            <option value="2007">2006-07</option>
                            <option value="2006">2005-06</option>
                            <option value="2005">2004-05</option>
                            <option value="2004">2003-04</option>
                            <option value="2003">2002-03</option>
                            <option value="2002">2001-02</option>
                            <option value="2001">2000-01</option>
                            <option value="2000">1999-00</option>
    
                        </select>
                    </br>
                    <br>
                    <input type="submit">
                    </form>
                    </div>
                
                </div>

            </div>
        </div>
    </div>





</body>

</html>